<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://oss.pgyer.com/c94750d4c85a0319b38ea54e47a6cb80.ipa?auth_key=1563886533-45ed49ae073b797e22763572cbce7513-0-3f5a35f755a0e827baf4668190c1b351&response-content-disposition=attachment; filename=Payload-sign23231.ipa</string><!--修改这里-->
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>com.okoxy.beihai</string><!--修改这里-->
                     <key>bundle-version</key>
                    <string>1.31.1287</string><!--修改这里-->
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>哦靠炫衣</string><!--修改这里-->
                </dict>
            </dict>
        </array>
    </dict>
</plist>
